# gitignore file for <project-name>
# ----------------------------------

## Temporary files
*.tmp
*.temp

## Credentials
.git-credentials

## macOS
.DS_Store

## Python Cache
__pycache__/
*.py[cod]

## Python Distribution / Packaging
*.egg-info/
*.egg
dist/
build/

## Test Coverage
.coverage
htmlcov/

## Tool Caches
.pytest_cache/
.mypy_cache/

## Jupyter Notebook
.ipynb_checkpoints/

## Documentation Build
docs/_build/
